.ui-widget-header-error {
    background: #f6a828 url(images/ui-bg_gloss-wave_55_5c9ccc_500x100_RED.png) 50% 50% repeat-x;
    color: #ffffff;
    font-weight: bold;
}

.ui-widget-header-warning {
    background: #f6a828 url(images/ui-bg_gloss-wave_55_5c9ccc_500x100_YELLOW.png) 50% 50% repeat-x;
    color: #ffffff;
    font-weight: bold;
}

.disabled {
	color:#777;
	text-decoration: line-through;
}

body {
    /*background: url("../images/background.png") repeat-x #C88736 center top !important;*/
    font-size: 14px;
    font-family:Lucida Grande, Verdana, Lucida Sans Regular, Lucida Sans Unicode, Arial, sans-serif;
    line-height:22px;
    margin:0;
    padding:0;
	background-color: rgba(235,117,9,1);
	background-image: url("../images/kartli_odeme_bg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

a {
    text-decoration:none;
    border:none;
    cursor:pointer;
}

.fl {float:left;}
.rg {float:right;}

.main-header {
	width: 100%;
	height: 94px;
	min-width: 700px;
}
.header-top {
	width: 100%;
	height: 54px;
	background-color: #000;
	text-align: center;
	position: relative;
}
.header-logo {
	display: inline-block;
	padding: 12px 0;
	max-width: 337px;
	width: auto;
	box-sizing: border-box;
	font-size: 110%;
	font-weight: bold;
}
.header-logo img {
	border:none;
	display: block;
	width: auto;
	float: left;
	margin-right: 20px;
	box-sizing: border-box;
}
.header-calendar-link,
.header-homepage-link {
	color: #FFFFFF;
	text-decoration: none;
	display: inline-block;
	line-height: 54px;
	padding: 0 20px;
}
.header-calendar-link:hover,
.header-homepage-link:hover {
	text-decoration: underline;
}
.header-calendar-link {
	float: left;
	margin-left: 20px;
	background-image: url("../images/icon-sinavtakvimi.png");
	background-position: left center;
	background-repeat: no-repeat;
	padding-left:30px;
}
.header-homepage-link {
	float: right;
	background-image: url("../images/icon-anasayfa.png");
	background-position: left center;
	background-repeat: no-repeat;
	padding-left:30px;
}
.header-bottom {
	width: 100%;
	height: 40px;
	background-color: rgba(255,255,255,.4);
}
.container {
	margin:auto;
	width:680px;
}

.header {
    width: 100%;
	height:100px;
}

.content {
	/*background-image: url("../images/saydambeyaz.png");*/
	background-color: rgba(255,255,255,.4);
    border-radius: 10px;
    margin:20px 0 50px;    
    padding:10px;
    width: 680px;
}

.footer {
	width:100%;
	text-align:right;
	background-color:#000;
	height:20px;
	color:#fff; 
	padding-top:10px;
	padding-bottom:10px;
	margin:0;
	bottom: 0;
	font-size:12px;

	position: fixed;
	bottom: 0px;
}

.error {
    background-image:url("../images/Error.png");
    background-repeat:no-repeat;
    width:112px;
    height:100px;  
}

.ErrorMessage {
    text-align:center;
    font-size:22px;
}

/* Selectmenu
----------------------------------*/
.hidden {
	display:none;
}

.selectBoxContainer {
	font:normal 12px Lucida Grande, Verdana, Lucida Sans Regular, Lucida Sans Unicode, Arial, sans-serif;
	position:relative;
	/*width:190px;*/
	border:1px solid #d2d2d2;
}
.selectBoxContainer .selectBoxScroller {
	display:none;
	position:absolute;
	top:27px;
	left:0;
	width:100%;
}

.selectBoxScroller {
	background-color:#fff;
	border:1px solid #d2d2d2;
	margin-left:-1px;
}

.selectBoxContainer .selectArea {
	background: url(../images/bg_comboboxLeft.gif) repeat-x;
	background-color:Red;
	color:#000;
	cursor:pointer;
	line-height:27px;
	padding-left:5px;
	white-space:nowrap;
    overflow:hidden;	
}

.selectBoxContainer .selectArea .downArrow {
	position:absolute;
	right:0;
	top:0;
	background:url(../images/bg_comboboxRight.gif) no-repeat;
	display:block;
	height:27px;
	width:26px;
}

.selectBoxContainerBig {
	font:normal 12px Lucida Grande, Verdana, Lucida Sans Regular, Lucida Sans Unicode, Arial, sans-serif;
	position:relative;
	width:300px;
	border:1px solid #d2d2d2;
}
.selectBoxContainerBig .selectBoxScroller {
	display:none;
	position:absolute;
	top:27px;
	left:0;
	width:100%;
}

.selectBoxContainerBig .selectArea {
	background: url(../images/bg_comboboxLeft.gif) repeat-x;
	background-color:Red;
	color:#000;
	cursor:pointer;
	line-height:27px;
	padding-left:5px;
	white-space:nowrap;
    overflow:hidden;	
}

.selectBoxContainerBig .selectArea .downArrow {
	position:absolute;
	right:0;
	top:0;
	background:url(../images/bg_comboboxRight.gif) no-repeat;
	display:block;
	height:27px;
	width:26px;
}

.selectBoxList {
	margin:0;
	padding:0;
	list-style:none;
}

.selectBoxList .selectBoxItem {
	line-height:30px
}

.selectBoxList .selectBoxItem {
	color:#000;
	display:block;
	padding-left:5px;
	text-decoration:none;
}

.selectBoxList .selectBoxItem.selected {
	background:#fc9200;
	color:#FFFFFF;
}

.selectBoxList .selectBoxItem.hover {
	background:#fc9200;
	color:#FFFFFF;
}

input[type='text'] {
	margin: 0;
	padding: 7px 7px 6px 7px;
	width: 176px;
	background: #fdfdfd;
	border: 1px solid #d7d7d7; 
	color: #000;
	font-family: Lucida Grande, Verdana, Lucida Sans Regular, Lucida Sans Unicode, Arial, sans-serif;
	font-size: 12px;
}

.button {
	background:url(../images/btn_area.gif) repeat-x;
	border: 1px solid #c3c3c3;
	color: #686868; 
	padding: 7px 14px;
	margin:5px 0;
	font-weight:bold;
	cursor:pointer;
	font-size: 12px;
    font-family: Lucida Grande, Verdana, Lucida Sans Regular, Lucida Sans Unicode, Arial, sans-serif;
    width: 176px;
}

.button:hover {
	background:url(../images/btn_areaSelect.gif) repeat-x;
	border: 1px solid #c3c3c3;
	color: #686868; 
	padding: 7px 14px;
	font-size: 12px;
	margin:5px 0;
	font-weight:bold;
	cursor:pointer;
}

.row {
	padding:10px 20px;
    background-image: url("../images/saydambeyaz.png");
    border-radius: 10px;
    width: 640px;
    float:left;
    margin-bottom:10px;
}

.timelineayrac {
    /*background-image: url("../images/ayrac.png");*/
    border-radius: 5px;
    height: 5px;
    margin: 5px 0 20px 0;
}

/* ===== Default table ===== */
.tDefault { width:100%; border:none;}
.tDefault tbody td, .tDefault th { border-left: 1px solid #DFDFDF; border-right: 1px solid #DFDFDF; box-shadow: 0 1px 0 #fafafa inset; -webkit-box-shadow: 0 1px 0 #fafafa inset; -moz-box-shadow: 0 1px 0 #fafafa inset; }

.tDefault th { text-align: center; font-size: 11px; padding:7px 5px; color: #686868; background: #eee; border-top: 1px solid #cdcdcd; }
.tDefault tbody td { background: #f2f2f2; padding: 7px 11px; vertical-align: middle; border-top: 1px solid #cdcdcd; font-size:12px; line-height:22px; }
.tDefault tr { }
/*.tDefault .gridrow_alternate { background: #f2f2f2; }*/
table .selector, table .selector > span, .dataTables_length .selector, .dataTables_length .selector > span { height: 26px; line-height: 26px; }
.dataTables_length .selector { margin-top: 1px; }
table td.sortCol { cursor: pointer; position: relative; }


.longText {	
	width: 285px !important;	
}

input[type='select'] {
	height: 30px;
	line-height: 30px;
}

table, td, th {
	border: 1px solid #999;
	border-collapse:collapse;
}

input[type='radio'] {
	width: 17px;
	height: 17px;
}


.CSSTableColumnSec {
    width: 50px;
    text-align:center;
}

.CSSTableColumnAciklama {
    width: 200px;
    text-align:center;
}

.CSSTableColumnTarih {
    width: 100px;
    text-align:center;
}

.CSSTableColumnKontenjan {
    width: 300px;
    text-align:center;
}

.tableClass {
    max-height: 500px;
    overflow: auto;
}